@import url('https://fonts.googleapis.com/css?family=Lato&display=swap');
/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #f7081c75;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
  letter-spacing: 1px;
  font-family: 'Lato', sans-serif;
  color: #fff;
}

section {
  padding: 100px 60px;
  width: 100%;
  border: 2px solid var(--secondary-color);
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12vh;
  color: #fff;
  padding: 15px 50px;
  border: 3px solid var(--secondary-color);
}

.left {
  display: flex;
  align-items: center;
  width: auto;
}

.search {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  margin-left: 20px;
  border-radius: 50px;
  font-size: 1rem;
  color: #fefefe;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}

.search::placeholder {
  color: #fff;
}

/* Header media query */
@media only screen and (max-width: 700px) {}
/* --Header styling */

/* Banner styling */
#Banner {
  height: 80vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#Banner h1, h3 {
  color: #fff;
  text-align: center;
  width: 100%;
  letter-spacing: 1px;
}

#Banner h1 {
  font-size: 50px;
  margin-bottom: 20px;
}

#Banner h3 {
  font-size: 26px;
  margin-bottom: 15px;
}

#Banner button {
  background-color: var(--secondary-color);
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 50px;
}

/* Banner media query */
@media only screen and (max-width: 600px) {
  #Banner h1 {
    font-size: 40px;
  }
  #Banner h3 {
    font-size: 22px;
  }
  #Banner button {
    padding: 13px 22px;
  }
}
/* --Banner styling */

/* Review styling */
#review {
  height: 80vh;
  min-width: 100%;
  display: flex;
  justify-content: space-between;
}

#review  img {
  width: 50%;
}

#review .left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#review .left {
  align-items: flex-start;
}

#review .right {
  align-items: flex-end;
}

#review .right h1, .right h3 {
  color: #fff;
  text-align: right;
}

#review .left h1, .left h3 {
  color: #fff;
  text-align: left;
}

#review .left h1, .right h1 {
  font-size: 45px;
  width: 70%;
}

#review .left h3, .right h3 {
  width: 80%;
  line-height: 1.3;
}

/* Review media query */
@media only screen and (max-width: 980px) {
  #review {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
  }

  section {
    padding: 100px 10px;
  }

  #review img {
    margin: 15px 0 15px;
    width: 70%;
  }

  #review .left{
    align-items: center;
    width: 80%;
  }

  #review .right{
    align-items: center;
    width: 80%;
  }

  #review .right h1, .right h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }

  #review .left h1, .left h3 {
    text-align: center;
    width: 100%;
    margin-bottom: 15px;
  }

  #review .left h3 {
    width: 100%;
  }

  #review .left h1, .right h1 {
    font-size: 40px;
  }
}

@media only screen and (max-width: 600px) {
  #review .left{
    width: 100%;
  }

  #review .right{
    width: 100%;
  }

  #review .left h1, .right h1 {
    font-size: 36px;
  }
}
/* --Review styling */

/* Alt-text styling */
/* #alt-text {
  padding: 50px 60px;
}

#alt-text > h3{
  text-align: center;
  font-size: 30px;
  color: #fff;
  width: 60%;
  margin: 0 auto;
} */
/* --Alt-text styling */

/* top-rated styling */
#top-rated #rated-container {
  display: flex;
  flex-wrap: wrap;
}

#top-rated > h1 {
  text-align: start;
  font-size: 40px;
  margin-bottom: 50px;
}

#top-rated .movie-box {
  position: relative;
  display: block;
  max-width: 300px;
  /* height: 300px; */
  border: 2px solid var(--secondary-color);
  color: #fff;
  margin: auto auto 30px;
}

.movie-box img {
  width: 100%;
  height: auto;
}

.movie-box .movie-info, .info-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: auto;
  height: 50px;
  padding: 0 5px;
}

.movie-info h1 {
  font-size: 20px;
  text-align: start;
}

.movie-info .info-right span{
  margin-right: 10px;
  /* margin-left: auto; */
}

.movie-box .overview {
  display: none;
}

.movie-box:hover .overview{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 10px;
  background: rgba(0,0,0,.7);
}

.overview h2 {
  margin-bottom: 5px;
}

/* Top-rated media query */
@media only screen and (max-width: 600px) {
  #top-rated > h1 {
    font-size: 30px;
    text-align: center;
  }
}

/* --Top-rated styling */

/* Questions styling */
#FAQ {
  color: #fff;
}

h1.faq-header  {
  text-align: center;
  font-size: 44px;
  margin-bottom: 100px;
}

.question-section {
  width: 100%;
  height: 100%;
}

.question {
  border: 2px solid var(--secondary-color);
  width: 50%;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 0 auto 2rem;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  font-size: 24px;
}

.question-title > p {
  color: #999;
}

.question-btn { 
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--secondary-color);
  transition: ease-in;
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid var(--secondary-color);
}
.question-text p {
  margin-bottom: 0;
  color: rgb(230, 228, 228);
  line-height: 1.4;
  letter-spacing: 2px;
}

.question-btn:hover {
  transform: rotate(90deg);
}

/* hide text */
.question-text {
  display: none;
}
.show-text .question-text {
  display: block;
}
.minus-icon {
  display: none;
}
.show-text .minus-icon {
  display: inline;
}
.show-text .plus-icon {
  display: none;
}

/* Questions media query */
@media only screen and (max-width: 960px) {
  .question {
    width: 70%;
  }
}
@media only screen and (max-width: 600px) {
  h1.faq-header  { 
    font-size: 30px;
  }
  .question {
    width: 100%;
  }
}

/* --Questions styling */

/* Footer styling */
.footer {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer-header {
  text-align: center;
  margin-bottom: 50px;
  color: #444;
}

.footer-links {
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.footer-links ul li {
  list-style: none;
  font-size: 18px;
  color: #666;
  padding-bottom: 5px;
}

/* Footer styling */

@media only screen and (max-width: 800px) {
  section {
    padding: 100px 30px;
  }
}

@media only screen and (max-width: 600px) {
  section {
    padding: 100px 20px;
  }
}