/* General styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --primary-color: #000;
  --secondary-color: #f7081c75;
}

body {
  background-color: var(--primary-color);
  font-family: sans-serif;
  letter-spacing: 1px;
}

section {
  padding: 100px 60px;
  width: 100%;
  border: 2px solid var(--secondary-color);
}

/* Header styling */
header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  height: 12vh;
  color: #fff;
  padding: 15px 50px;
  border: 3px solid var(--secondary-color);
}

.left {
  display: flex;
  align-items: center;
  width: auto;
}

.search {
  background-color: transparent;
  border: 2px solid var(--secondary-color);
  padding: 0.5rem 1rem;
  margin-left: 20px;
  border-radius: 50px;
  font-size: 1rem;
  color: #fefefe;
}

.search:focus {
  outline: 0;
  background-color: var(--primary-color);
}

.search::placeholder {
  color: #fff;
}
/* --Header styling */

/* Banner styling */
#Banner {
  height: 80vh;
  background-color: var(--primary-color);
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#Banner h1, h3 {
  color: #fff;
  text-align: center;
  width: 50%;
  letter-spacing: 1px;
}

#Banner h1 {
  font-size: 50px;
}

#Banner h3 {
  line-height: 1.3;
  text-align: center;
}

#Banner button {
  background-color: var(--secondary-color);
  padding: 15px 25px;
  font-size: 20px;
  border-radius: 50px;
}
/* --Banner styling */

/* Review styling */
#review {
  height: 80vh;
  width: 100%;
  display: flex;
  justify-content: space-between;
}

#review .left, .right, img {
  width: 50%;
}

#review .left, .right {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

#review .left {
  align-items: flex-start;

}

#review .right {
  align-items: flex-end;
}

#review .left h1, h3 {
  color: #fff;
  text-align: left;
}

#review .right h3, h1 {
  color: #fff;
  text-align: right;
}

#review .left h1, .right h1 {
  font-size: 45px;
  width: 60%;
}

#review .left h3, .right h3 {
  width: 80%;
  line-height: 1.3;
}
/* --Review styling */

/* Alt-text styling */
#alt-text {
  padding: 50px 60px;
}

#alt-text > h3{
  text-align: center;
  font-size: 30px;
  color: #fff;
  width: 60%;
  margin: 0 auto;
}
/* --Alt-text styling */

/* top-rated styling */
#top-rated .rated-container {
  display: flex;
  flex-wrap: wrap;
}

#top-rated > h1 {
  text-align: start;
  font-size: 40px;
  margin-bottom: 50px;
}

#top-rated .movie-box {
  position: relative;
  display: block;
  max-width: 350px;
  height: 100%;
  border: 2px solid var(--secondary-color);
  color: #fff;
  margin: auto auto 30px;
}

.movie-box img {
  width: 100%;
}

.movie-box .movie-info, .info-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
}

.movie-info .info-right span{
  margin-right: 10px;
}

.movie-box .overview {
  display: none;
}

.movie-box:hover .overview{
  display: block;
  position: absolute;
  height: 100%;
  top: 0;
  padding: 10px;
  background: rgba(0,0,0,.7);
}

.overview h2 {
  margin-bottom: 15px;
}

/* --Top-rated styling */

/* Questions styling */
#FAQ {
  color: #fff;
}

h1.faq-header  {
  text-align: center;
  font-size: 44px;
  margin-bottom: 100px;
}

.question-section {
  width: 100%;
  height: 100%;
}

.question {
  border: 2px solid var(--secondary-color);
  width: 50%;
  border-radius: 0.5rem;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  padding: 1.5rem 1.5rem 0 1.5rem;
  margin: 0 auto 2rem;
}

.question-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-transform: capitalize;
  padding-bottom: 1rem;
}

.question-title p {
  margin-bottom: 0;
  font-size: 24px;
}

.question-title > p {
  color: #999;
}

.question-btn { 
  background-color: transparent;
  border-color: transparent;
  cursor: pointer;
  color: var(--secondary-color);
  transition: ease-in;
}

.question-text {
  padding: 1rem 0 1.5rem 0;
  border-top: 1px solid var(--secondary-color);
}
.question-text p {
  margin-bottom: 0;
  color: rgb(230, 228, 228);
  line-height: 1.4;
  letter-spacing: 2px;
}

/* .question-btn:hover {
  transform: rotate(90deg);
} */

/* --Questions styling */